html { 
  font-size: 16px; /* to get the root in rem's to match default for MoveOn */ 
}

body {
  margin: 0;
}

#scrolly-body { 
  margin: 0 auto;
  background-color: #E5F5FF;
}

nav {
  background-color: #000;
  color: #FFF;
  height: 120px;
  text-align: center;
}

.ctc {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #E5F5FF;
}

h1 {
  color: #00ABFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem !important;
  font-weight: bold !important;
  margin: 0 0 50px !important;
  padding-top: 20vh !important;
  text-align: center;
  text-transform: uppercase !important;
}
h1 span {
  background-color: #000;
  line-height: 4.5rem;
  padding: 2px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold !important;
  margin: 4rem 0 !important;
  margin-bottom: 0 !important;
  font-size: 1.75rem !important;
  line-height: 2.125rem !important;
}
h5 {
  font-size: 1rem !important;
  margin-block-start: 1.67rem !important;
  margin-block-end: 0.5rem !important;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem !important;
  line-height: 2rem !important;
}

.filler article {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 50rem;
}

.scrolly-overlay .scrolly {
  max-width: 60rem;
  margin: 0rem auto;
  padding: 1rem;
}
.scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}
.scrolly-overlay .scrolly article .step {
  min-height: 100vh;
  margin-bottom: 1rem;
}
.scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
.scrolly-overlay .scrolly article .step p,
.scrolly-overlay .scrolly article .map-step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #254747;
  transition: background-color 250ms ease-in-out;
  color: #FFF;
}

.scrolly-overlay .scrolly article .map-step {
  min-height: 120vh;
  margin-bottom: 1rem;
}

.scrolly-overlay .scrolly article .map-step.long {
  min-height: 180vh;
}
/*.scrolly-overlay .scrolly article .map-step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #254747;
  color: #f4f4f4;
}*/

.scrolly-overlay .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0;
  top: 160px; /* 40px below 120px nav bar */
  left: 0;
}

.ctc .source {
  font-size: 12px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.scroll-arrow {
  animation: arrowAnim 3s ease-in-out infinite;
  opacity: 1;
  text-align: center;
  transition: all 0.5s ease-out;
}
.scroll-arrow svg {
  height: 125px;
  width: 67px;
}
.scroll-arrow.hide {
  height: 0;
  opacity: 0;
}

@keyframes arrowAnim {
  0%, 100% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

/**** CHART STYLES *****/
.ctc #chart .source {
  opacity: 0;
}
#chart {
  background-color: #E5F5FF;
}
#chart .sticky p {
  font-size: 20px;
  margin: 10px auto 50px;
  max-width: 40rem;
}
.sticky .sticky--copy {
  margin: 10px auto;
  max-width: 32rem;
  text-align: center;
}
#chart .bar-chart {
  opacity: 0;
  margin-top: 6rem;
  transition: opacity 0.7s ease-out;
  width: 90%;
}
#chart .chart-row {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
}
#chart .chart-row .label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  padding-right: 20px;
  text-align: right;
  width: 263px;
  text-transform: uppercase;
}
#chart .chart-row .value {
  color: #00ABFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  opacity: 0;
  padding-left: 20px;
  transition: opacity 0.3s ease-out 1s;
}
#chart .bar {
  background-color: #EEE;
  height: 40px;
  position: relative;
  width: 60%;
}
#chart .bar .bar-fill {
  background-color: #00ABFF;
  height: 100%;
  transition: width 1s ease-out;
  width: 0%;
}
#chart .chart-row .bar.is-active .bar-fill {
  background-color: #005680;
}
#chart .scrolly figure.sticky {
  height: auto;
  margin-bottom: 50px;
  padding-top: 0;
}


/**** MAP STYLES *****/
#map {
  background-color: #005680;
  color: #FFF;
}

#child-poverty-map {
  opacity: 0;
}

#map-svg-div{
  margin: 0px auto;
}

#map-intro {
  text-align: center;
  margin-bottom: 1rem !important;
}

#map .sticky .sticky--copy {
  margin-bottom: 0px;
}

#map-legend-div h5 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
#map-legend-div table {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
#map-legend-div span {
  display: inline-block;
  width: 10%;
}

#map-legend-div span.swatch {
  margin: 0 2rem;
  width: 1.5rem;
  height: 1.5rem; 
}

#map-legend-div span.col1 {
  background-color: rgb(255, 230, 206); 
}

#map-legend-div span.col2 {
  background-color: rgb(255, 173, 109); 
}

#map-legend-div span.col3 {
  background-color: rgb(235, 28, 36); 
}
.ctc #map .source {
  color: white;
  text-align: center;
}
.ctc #map .source a {
  color: white;
}


/* These will be adjustments for smartphones, iPhone, portrait  and mobile devices up until portrait e-readers 480x320 */
@media (max-width: 481px)  {
  h1 { 
    font-size: 2rem !important;
    margin-bottom: 20px !important;
    padding-top: 7vh !important;
  }
  h1 span {
    line-height: 3rem !important;
  }
  h3 {
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
  }
  .scroll-arrow svg {
    transform: scale(0.6);
  }
  .scrolly-overlay .scrolly article .step p {
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
  }
  #chart .bar {
    height: 30px;
  }
  #chart .bar-chart {
    margin-top: 0;
    width: 100%;
  }
  #chart .chart-row .label {
    font-size: 0.938rem;
    padding-right: 10px;
    width: 48%;
  }
  #chart .chart-row .value {
    font-size: 1.25rem;
    padding-left: 10px;
  }
  #chart .sticky p {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
  #chart .sticky .sticky--copy, h3 {
    margin: 0 !important;
  }
  .scrolly-overlay .scrolly figure.sticky {
    top: 75px;
  }
  #map-legend-div span.swatch {
    margin: 0 1.8rem;
    width: 1rem;
    height: 1rem; 
  }
}

@media (max-width: 375px) {  
  h1 {
    padding-top: 10vh;
  }
}
