body {
  margin: 0 auto;
  background-color: #E5F5FF;
}

nav {
  background-color: #000;
  color: #FFF;
  height: 120px;
  text-align: center;
}

.ctc {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #E5F5FF;
}


#map {
  background-color: #005680;
  color: #FFF;
}

/* h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  color: #99ddff;
*/ 
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
 h1 span {
    display: inline-block;
    background-color: #000;
    color: #00abff;
    position: relative;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bolder;
    /*font-size: 32px;*/
    line-height: 1;
    letter-spacing: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 4rem 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.filler article {
  padding: 0 1rem;
  margin: 50px auto;
  max-width: 50rem;
}

.scrolly-overlay .scrolly {
  max-width: 60rem;
  margin: 0rem auto;
  padding: 1rem;
}
.scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}
.scrolly-overlay .scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
}
.scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
.scrolly-overlay .scrolly article .step.is-active p {
  background-color: #008080;
}
.scrolly-overlay .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #5b5b5b;
  transition: background-color 250ms ease-in-out;
  color: #f4f4f4;
}

.scrolly-overlay .scrolly article .map-step {
  min-height: 120vh;
  margin-bottom: 1rem;
}
.scrolly-overlay .scrolly article .map-step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #254747;
  color: #f4f4f4;
}

.scrolly-overlay .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0;
  top: 10vh;
  left: 0;
  padding-top: 50px;
}
.scrolly-overlay .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 90%;
  height: 4rem;
  background-color: #fff;
}
.scrolly-overlay .scrolly figure.sticky .bar-inner {
  width: 10%;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #daa520;
}

.ctc .source {
  font-size: 12px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.ctc #map .source {
  color: white;
  text-align: center;
}
.ctc #map .source a {
  color: white;
}

/**** CHART STYLES *****/
#chart {
  background-color: #E5F5FF;
}
#chart .sticky p {
  margin: 50px auto;
  max-width: 40rem;
}
.sticky .sticky--copy {
  margin: 50px auto;
  max-width: 30rem;
  text-align: center;
}
#chart .bar-chart {
  opacity: 0;
  transition: opacity 0.7s ease-out;
  width: 90%;
}
#chart .chart-row {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
}
#chart .chart-row .label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  text-align: right;
  width: 263px;
  text-transform: uppercase;
}
#chart .chart-row .value {
  color: #00ABFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  opacity: 0;
  padding-left: 20px;
  transition: opacity 0.3s ease-out 1s;
}
#chart .bar {
  background-color: #EEE;
  height: 40px;
  position: relative;
  width: 60%;
}
#chart .bar .bar-fill {
  background-color: #00ABFF;
  height: 100%;
  transition: width 1s ease-out;
  width: 0%;
}
#chart .chart-row .bar.is-active .bar-fill {
  background-color: #005680;
}
#chart .scrolly figure.sticky {
  height: auto;
  margin-bottom: 50px;
}
#chart .scrolly article .step.is-active p {
  background-color: rgba(0,128,191,1);
}
#chart .scrolly article .step p {
  background-color: rgba(178,178,178,1);
}

#child-poverty-map {
  opacity: 0;
}

#map-svg-div{
  margin: 0px auto;
}

#map-intro {
  text-align: center;
}

#map .sticky .sticky--copy {
  margin-bottom: 0px;
}

/* These will be adjustments for smartphones, iPhone, portrait  and mobile devices up until portrait e-readers 480x320 */
@media (max-width:768px)  {
  h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  #chart .sticky .sticky--copy, h3 {
    margin: 0;
  }
}
