header { 
    position: fixed;
    left: 0;
    top: 0; 
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
}
header .moveon-logo { 
    padding: 10px;
    width: 70px;
}


footer {
    background: white;
    position: fixed;
    right:0;
    bottom: 0;
    width: 100%;
    font-size: 12pt;
    color: #808080;
    padding: 7px;
    text-align: right;
    transition: opacity 0.2s;
  }
  footer a {
    color: #808080;
  }
  footer.inactive {
    opacity: 0;
  }

@media (max-width: 975px) {
  header .moveon-logo { 
    padding: 4px;
    width: 50px;
  }
}