body {
    background-color: rgb(60, 60, 60);
    margin: 0;
}
svg {
    margin:3% 0;
}
svg text { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
}
button#flip { 
    position: absolute;
    color: white;
    background-color: rgb(60, 60, 60);
    bottom: 52%;
    right: 3px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}
.maps-wrapper { 
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
}

text.headline {
    font-size: 24px; /* 18px for media */
    text-anchor: middle;
}

text.state-label {
    text-anchor: middle;
    dominant-baseline: central;
}

.scroll-box {
    position: relative;
    height: 110vh;
}

@media (max-width: 975px) {
    text.headline {
        font-size: 18px;
    }
    
}