* {
    --blue-primary: #00ABFF;
    --blue-darker: #0080bf;
    --blue-darkest:#005680;
    --blue-light: #e5f5ff;
    --blue-light2: #d9eefa;
    --blue-light3: #d1edfe;
    --grey-primary: #b2b2b2;
    --red-primary: hsl(358, 83%, 51%);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
    background-color: var(--blue-light);
    font-weight: 400;
    line-height: 1.4;
}

h2 {
    margin-bottom: 2rem;
}
h3, input {
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem; 
    margin-bottom: 1rem;
}

p strong {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
}

a {
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: none;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bolder;
    margin-bottom: 1rem;
}
button.btn-primary {
    background-color: var(--blue-darkest);
    border: 1px solid #000;
    color: white;
}
button.btn-secondary {
    background-color: var(--blue-light);   
    border: 1px solid black;
    color: black;
}
button:not(.player-tabs button):hover{
    background-color: var(--blue-darker);
    color: white;
}

button.btn-tertiary {
    background-color: var(--blue-darker); 
    border: 1px solid var(--blue-darker);  
    color: white;
}
button.btn-tertiary:not(.player-tabs button):hover{ 
    background-color: var(--blue-light);   
    border: 1px solid black;
    color: black;
}


/**************************/
/******** TOOLTIPS ********/
/**************************/

/* for hint question mark */
span.hint {
    position:relative; 
    background-color: #c4c4c4; 
    display: inline-block; 
    text-align: center;
    width: 2rem;
    height: 2rem; 
    border-radius: 50%;
}

.tooltip {
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #000;
    font-size: 1.2rem;
    height: auto;
    padding: 15px;
    position: absolute;  
    pointer-events: none;
    text-align: center;
    width: 300px;
}
.tooltip::after {
    background: #FFFAF4;
    border-bottom: inherit;
    border-right: inherit;
    content: '';
    left: 50%;
    height: 20px;
    margin-left: -10px;
    position: absolute;
    top: -webkit-calc(100% - 10px); /*may require prefix for old browser support*/
    top: calc(100% - 10px); /*i.e. half the height*/
    transform: rotate(45deg);
    width: 20px;
}

/******************************/
/******** RANGE INPUTS ********/
/******************************/

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    margin: 10px auto 30px;
    width: 80%;
    margin-left: 10%;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #C4C4C4;
    height: 10px;
}

input[type="range"]::-moz-range-track {
    background: #C4C4C4;
    height: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--blue-darkest);
    cursor: ew-resize;
    height: 38px;
    margin-top: -14px;
    width: 6px;
    border: 0;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: var(--blue-darkest);
    cursor: ew-resize;
    height: 38px;
    margin-top: -14px;
    width: 14px;
    border: 0;
}

#spend-input::-webkit-slider-thumb {
    border-radius: 50%;
}
#spend-input::-moz-range-thumb {
    border-radius: 50%;
}


/**************************/
/******** OVERLAYS ********/
/** inc. first screen *****/
/**************************/

section.overlay {     
    background-color: #FFF3E5;
    border: 1px solid black;
    left: 50%; 
    max-width: 50%;
    padding: 40px 80px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;  
}

div#overlay-background{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(64, 55, 55, 0.63);
    z-index: 1;
}

/*********************/
/****** HEADER *******/
/*********************/

header {
    background-color: black;
    color:white; 
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5rem ;
    font-weight: bold ;
    text-transform: uppercase ;
}


/***********************************/
/********** BAR STYLING ************/
/***********************************/

div.bar { 
    /* background-color: black; */
    width: 40%;
    height: 2.5rem;
    color: black;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 3px solid black;
}
div.bar span.inner-bar {
    display: inline-block;
    background-color: #C4C4C4;
    border: 3px solid black;
    height: 2.5rem;
    margin-left: -3px;
    padding-left: 0px;
}
div.bar span {
    font-size: 1.5rem;
    padding-left: 10px;
}


/* bars in intro overlay */ 
section#intro div {
    margin-bottom: 1rem;
}

/********************************************/
/****************** MAIN ********************/
/* background for main nav and game screens */
/********************************************/

main { 
    background-color: var(--blue-light);
    width: 100%;
    margin:0px auto;
    position: relative;

}

/********************************************/
/********** NAVIGATION MAIN PAGE ************/
/********************************************/

#image-nav{
    display:block;
    height: 75vh; 
    max-width: 65%;
    margin:0px auto;
}
#main-games-nav{
    display: flex; 
    align-items: center;
}
#main-games-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30%;
    border-radius: 10px 10px 40px 40px;
}
#main-games-nav div.nav-div{ 
    background: transparent;
}

#main-games-nav div:not(:nth-of-type(1), :nth-last-of-type(1) ){
    margin-top: -5%;
}
#main-games-nav div:not([playable="1"]){
    opacity: 0.25;
}
#main-games-nav div.nav-div[playable="1"]:hover {
    box-shadow: 0px 0px 10px rgba(64, 55, 55, 0.63);
}

#main-games-nav h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}
#main-games-nav .nav-img {
   width: 90%;
}

#break-the-cycle {
    display: flex;
    justify-content: center;
    display: none; 
}

#break-the-cycle button {
    font-size: 3.5rem;
}

/***********************************/
/****** GENERAL GAME SCREEN ********/
/***********************************/

section.game{
    width: clamp(600px, 75%, 1000px);
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    display:none;
}

section.game-body[player="nurse"]{
    display: none;
}

/* until we figure out where this navigation back to home screen should actually go */ 
section.game-round-opening a {
    position:absolute;
    top:5px;
    right: 5px;
}
section.game-round-opening img {
    width: 50px;
}
section.game-round-opening .background {
    display: flex;
    flex-direction: column;  
    gap: 6px;
}
section.game-round-opening .background h2 {
    margin-bottom: 0.1rem;
}
section.game-round-opening .background h2 .subtitle {
    font-size: 1.25rem;
    font-weight: normal;
}
section.game-round-opening .background p {
    font-size: 1.25rem
}

section.game-round-opening .background a {
    font-size: 1rem;
    font-weight: bold;
}
.player-tabs {
    display: flex;
    gap: 6px;
}
.player-tabs span {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    /*background: #C4C4C4;*/
    flex-shrink: 0;
    margin-right: 6px;
}
.player-tabs button {
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--blue-light2);
    margin-bottom: -1px;
    padding: 14px 20px 5px 20px;
    text-transform: inherit;
}
.player-tabs div {
    text-align:start;
}
.player-tabs h2 {
    margin-bottom: 0px;
}
.player-tabs p {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 1.2rem;
}
.player-tabs button[active='1'] {
    border: 1px solid black;
    border-bottom: none;
    background-color:var(--blue-light3);
}
.player-tabs button:not([playable='1']) {
    opacity: 0.3
}
section.game-wrapper { 
    margin-top: 24px;
    position: relative; /* so that help button can be placed 'absolute'  - although not currently using the help button*/
}

section.game .game-body {
    background-color: var(--blue-light3);
    color: black;
    border: 1px solid #000000;
    padding: 1.5rem 3rem;
}
section.game .results {
    display: flex;
    padding-top: 0.5rem;
    align-items: flex-start;
}
section.game .results .controls  {
    flex: 1.5;
}
section.game .results .controls p {
    font-size: 1.25rem;
}

section.game .results .controls h3 {
    font-size: 1.5rem;
}

section.game .results .taxes-owed {
    display: flex;
    flex-direction: column;
    gap:5px;
}

section.game .results .bar {
    width: 100%;
    max-height: 5rem;
    text-align: center;
}

section.game .results span.inner-bar {
    height: calc(100% + 6px); /* 2x width  of border */
}

/********************************************/
/****** INTERACTION RESPONSE SECTION ********/
/********************************************/

.interaction-response {
    flex: 1;
    position: relative;
    padding: 12px 36px ;
    margin-left: 72px;
    text-align: center;
    visibility: hidden;
    background-color: #22222299;
    color:white;
    opacity:0;
}
.interaction-response h2 {
    font-size:0;
    margin:0;
}
.interaction-response .interaction-content {
    visibility: hidden;
}


/*************************/
/****** EARN GAME ********/
/*************************/

section.game-body[game="earn"][player="ceo"] .results span.inner-bar{
    width: 35%;
}

section.game-body[game="earn"][player="nurse"] .results span.inner-bar{
    width: 18%;
}

section.game-explanation {
    display: none;
}

section.game-body[game="earn"] input[type=range] {
    width: 80%;
}

.salary-slider {
    position: relative;
    margin-bottom: 30px;
}

.salary-slider>div{
    position: absolute;
    top: 14px;
    width: 3%;
    height: 36px;   
    border-top: 1px solid black; 
}
.slider-label-box-left{
    border-left: 1px solid black; 
    left: 5%;
}

.slider-label-box-right{
    border-right: 1px solid black; 
    left: 92%;
}

label[for="salary-stock"]{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 20px;
}

label[for="salary-stock"] div {
    line-height: 1.2rem;
    padding: 4px;
}

label[for="salary-stock"] div:nth-last-of-type(1) {
    text-align: end;
}

/**************************/
/****** SPEND GAME ********/
/**************************/

.spend-toggle {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
}

label[for="spend-input"] {
    font-size:1.25rem;
}
section.game-body[game="spend"] input[type=range] {
    width: 65px;
    margin: 0;
}

section.game-body[game="spend"] input[type=range]::-webkit-slider-runnable-track {
    height: 38px;
    border-radius: 19px;
  }
  
section.game-body[game="spend"] input[type="range"]::-moz-range-track {
    height: 38px;
    border-radius: 19px;
  }
  
section.game-body[game="spend"] input[type=range]::-webkit-slider-thumb {
    margin-top: 0;
      width: 38px;
  }
  
section.game-body[game="spend"] input[type="range"]::-moz-range-thumb {
    margin-top: 0;
      width: 38px;
  }

section.game-body[game="spend"][player="ceo"] .results span.inner-bar{
    width: 20%;
}
section.game-body[game="spend"][player="nurse"] .results span.inner-bar{
    width: 30%;
}
span.annotation {
    font-size: 1.3rem;
}


/**************************/
/**** FILE TAXES GAME *****/
/**************************/

section.game-body[game="file-taxes"] .controls{
    flex: 2;
}
section.game-body[game="file-taxes"] .controls .btn-group {
    display: flex; 
    gap: 4px;
}
section.game-body[game="file-taxes"] .controls button{
    font-size:1rem;
    flex:1;
    padding: 10px 10px;
}
section.game-body[game="file-taxes"] .controls .svg-container {
    padding:10px;
    background-color: white;
    border: 1px solid var(--blue-darker);
    margin-bottom: 18px;
}
section.game-body[game="file-taxes"] .controls svg {
    border-left: 2px solid var(--grey-primary);
    border-bottom: 2px solid var(--grey-primary);
}


section.game-body[game="file-taxes"] .interaction-response p{
    display:none;
}
section.game-body[game="file-taxes"] .interaction-response button{
    display:none;
}



/**************************/
/**** MOBILE STYLES *******/
/**************************/
@media (max-width: 1007px) {
    header h1 {
        font-size: 2.9rem;
    }
    p {
        font-size: 1rem;
    }
    p strong {
        font-size: 1rem;
    }
    #main-games-nav {
        flex-flow: column;
    }
    #main-games-nav div {
        flex-flow: row;
        margin-top: 5%;
    }
    #main-games-nav .nav-img {
        height: 20vh;
        width: auto;
    }
    #image-nav {
        max-width: 100%;
    }
    section.overlay {
        max-width: 90%;
        padding: 20px;
        width: 90%;
    }
    section#intro div.bar {
        width: 100%;
    }
    section.game {
        padding: 1.5rem;
    }
    section.game .game-body {
        padding: 1.5rem;
    }
    section.game .results {
        flex-flow: column;
    }
    section.game .results .controls {
        width: 100%;
    }
    section.game .results .controls h3 {
        font-size: 1rem;
    }
    section.game-wrapper {
        margin-top: 0;
    }
    .player-tabs button {
        padding: 1rem;
    }
    .player-tabs h2 {
        font-size: 1.4rem;
    }
    .player-tabs p {
        font-size: 1rem;
    }
    .player-tabs span {
        height: 2rem;
        width: 2rem;
    }
    span.annotation {
        font-size: 1rem;
    }
    span.hint {
        height: 1.4rem;
        width: 1.4rem;
    }
    .interaction-response {
        bottom: 0;
        left: 0;
        height: 100px;
        margin: 0;
        overflow-y: scroll;
        padding: 1rem 2rem;
        position: fixed;
        right: 0;
    }
    .interaction-response h2 {
        font-size: 1.4rem;
    }
    .interaction-response.expand {
        height: auto;
    }
    .spend-toggle {
        margin: 1rem 0 2rem;
        width: 100%;
    }
    label[for="spend-input"] {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
