*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #2B3A61; }

.bridges {
  /* HIDE RADIO */
  /* IMAGE STYLES */
  /* These will be adjustments for smartphones, iPhone, portrait  and mobile devices up until portrait e-readers 480x320 */ }
  .bridges h1 {
    color: #151515;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase; }
    .bridges h1 span {
      background-color: #9AA4CF;
      line-height: 4.5rem;
      padding: 2px 10px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
  .bridges h2 {
    font-size: 1.25rem;
    font-weight: 400; }
  .bridges h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 0px; }
  .bridges p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    /* margin: 0px;*/ }
  .bridges #map {
    bottom: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    z-index: 1;
    margin: 0px 20px 40px; }
    .bridges #map p {
      margin: 0; }
  .bridges #overlay {
    background: radial-gradient(circle at 50% calc(50% - 20px), #00006325 18vh, #2B3A61 18vh);
    bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2; }
    .bridges #overlay #opening {
      /*color: #151515;
      background-color: #ffffffdd;
      */
      color: white;
      background-color: #2B3A61DD;
      max-width: 500px;
      padding: 100px 40px 20px;
      margin: 0px auto; }
      .bridges #overlay #opening p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 0px; }
    .bridges #overlay > h2 {
      display: none;
      max-width: 50%;
      margin: 0 auto;
      margin-top: 50px;
      color: white;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 700;
      text-align: center; }
  .bridges #stepText1 {
    display: none;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    text-align: center; }
    .bridges #stepText1 h2 {
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
      margin-bottom: 6px; }
    .bridges #stepText1 p {
      margin-top: 6px;
      font-size: 1.25rem;
      font-weight: 400; }
  .bridges button {
    background-color: #9AA4CF;
    border: none;
    border-radius: 30px;
    color: #403C3C;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 30px;
    text-transform: uppercase; }
    .bridges button:hover {
      background-color: #DDDDDD; }
  .bridges #selection-options {
    position: absolute;
    top: 70%;
    width: 100%;
    color: white; }
    .bridges #selection-options a {
      color: #2B3A61;
      background-color: white; }
    .bridges #selection-options a#we-pick {
      color: white;
      background-color: transparent;
      text-decoration: underline; }
    .bridges #selection-options section {
      max-width: 400px;
      padding: 0px 30px;
      margin: 0 auto; }
  .bridges #popup {
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px #53689C;
    display: none;
    left: 40px;
    top: 170px;
    /* height: 360px; */
    position: absolute;
    max-width: 500px;
    max-height: calc(100% - 200px);
    overflow-y: auto;
    z-index: 3; }
    .bridges #popup #popup-text {
      padding: 16px;
      /* padding-bottom: 2rem; /* so when scrolled all the way down space for cta */ }
    .bridges #popup #close-popup {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #53689C;
      color: white;
      width: 1.5rem;
      border-radius: 50%;
      height: 1.5rem;
      text-align: center;
      padding-top: 0.2rem; }
    .bridges #popup #popup-cta {
      position: sticky;
      bottom: 0px;
      padding: 16px;
      width: 100%;
      opacity: 0.95;
      background-color: #53689C;
      color: white;
      text-align: center; }
      .bridges #popup #popup-cta a {
        color: inherit; }
  .bridges .vehicle-selector {
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 300px;
    margin: 0 auto; }
  .bridges .vehicle-selector > div {
    min-width: 80px; }
  .bridges [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0; }
  .bridges [type=radio] + img {
    cursor: pointer;
    background-color: #9AA4CF;
    width: 80px;
    margin: 10px;
    margin-right: 8px;
    padding: 10px;
    height: 100px;
    border-radius: 10px; }
    .bridges [type=radio] + img:hover {
      background-color: white; }
  .bridges .mapboxgl-ctrl-geocoder {
    margin: 10px auto 20px;
    max-width: 350px;
    /*min-width: 350px;*/
    text-align: left;
    background-color: transparent; }
    .bridges .mapboxgl-ctrl-geocoder input[type='text'] {
      border: 1px solid #000;
      padding-left: 30px;
      border-radius: 20px;
      background-color: #e4e4e4;
      font-size: 1rem; }
  .bridges header {
    display: none;
    position: fixed;
    padding: 50px 40px 0px;
    background-color: #2B3A61;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 3; }
    .bridges header span {
      position: relative;
      display: inline-block;
      width: 6rem;
      font-weight: 300;
      padding: 8px 4px 4px 12px;
      background-color: #53689C; }
    .bridges header #show-all-bridges {
      position: absolute;
      right: 30px;
      bottom: -3rem;
      font-size: 1rem;
      opacity: 0.9;
      visibility: hidden; }
  .bridges #destinationSelector {
    height: 40px;
    margin: 10px auto 20px;
    padding: 0 10px;
    width: 300px; }
  .bridges #btn-go {
    display: inline; }
  .bridges #selected-vehicle-holder {
    position: absolute;
    top: 30%;
    font-size: 160px;
    display: none;
    left: 45%; }
  .bridges #step-vehicle,
  .bridges #step-start,
  .bridges #step-correct,
  .bridges #step-vehicle-correct,
  .bridges #step-sample-bridge,
  .bridges #step-destination,
  .bridges #step-details,
  .bridges #step-play-game {
    display: none; }
  @media (max-width: 481px) {
    .bridges h1 {
      font-size: 2rem;
      margin: 20px 30px 0;
      text-align: left; }
      .bridges h1 span {
        line-height: 1.1;
        /*padding: 2px 10px;*/ }
    .bridges #map {
      width: 100%;
      margin: 0px 0px 80px; }
    .bridges header {
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 20px; }
      .bridges header span {
        display: inline;
        text-decoration: underline;
        font-weight: 300;
        padding: 0;
        background-color: revert; }
    .bridges #popup {
      top: 150px;
      max-height: calc(100% - 150px);
      left: 0; }
      .bridges #popup #popup-cta {
        height: 80px; }
    .bridges #overlay {
      background: radial-gradient(circle at 50% calc(50% - 40px), #00006325 18vh, #2B3A61 18vh); }
      .bridges #overlay #selection-options {
        top: 65%; }
      .bridges #overlay button {
        font-size: 1.25rem; }
      .bridges #overlay #opening {
        /* the extra large top padding and negative margin are so the semi-opaque background extends up under the h1. Did this because on some devices where h1 was too big, it exposed a bit of the map sneak-peak hole in a way that looked crappy. */
        padding: 140px 30px 20px;
        margin-top: -100px; }
        .bridges #overlay #opening p {
          font-size: 1.25rem;
          line-height: 1.5;
          margin-top: 0px;
          text-align: left; }
        .bridges #overlay #opening button {
          margin-top: 30px; }
      .bridges #overlay #stepText1 {
        margin-top: 10px; }
        .bridges #overlay #stepText1 h2 {
          font-size: 1.5rem; } }
